:root {
    --secondary-color: rgba(255, 255, 255, 0.025);
    --accent-color: darkcyan;
    color-scheme: light dark;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    height: 100%;
    font-family: Geist;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

h1 {
    font-size: 48px;
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
    color: #ffffff;
}

button {
    cursor: pointer;
    border: 1px solid var(--accent-color);
    background-color: transparent;
    border-radius: 5px;
}

button:hover {
    transition: 0.3s;
    background-color: var(--accent-color);
}

input {
    border: none;
    border-bottom: 1px solid var(--accent-color);
    background-color: transparent;
}

input:focus {
    outline: none;
}
