body {
    margin: 0;
    color: white;
    background: #121212;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 48px;
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
    color: #ffffff;
}

button {
    cursor: pointer;
    color: white;
    border: 1px solid darkcyan;
    background-color: transparent;
    border-radius: 5px;
}

button:hover {
    transition: 0.3s;
    background-color: darkcyan;
}

input {
    border: none;
    border-bottom: 1px solid darkcyan;
    color: white;
    background-color: transparent;
}

input:focus {
    outline: none;
}
