.home:hover {
    color: lightblue;
}

.login:hover {
    color: lightgreen;
}

.header {
    flex: 0;
    font-size: large;
    padding: 0.4rem;
    gap: 2rem;
    display: flex;
    outline: 1px solid var(--accent-color);
    justify-content: left;
    align-items: center;
    margin-bottom: 1em;
    background-color: var(--secondary-color);
}
