.home:hover {
    color: lightblue;
}

.login:hover {
    color: lightgreen;
}

.header {
    flex: 0;
    font-size: large;
    padding: 0.5%;
    gap: 5%;
    display: flex;
    border-bottom: 1px solid;
    border-color: darkcyan;
    justify-content: left;
    align-items: center;
    margin-bottom: 2%;
    background-color: rgba(255, 255, 255, 0.1);
}
