.icon:hover {
    color: lightcoral;
}

.button {
    border: none;
    margin-right: 5%;
}

.button:hover {
    background-color: transparent;
}

.input {
    border-radius: 5px;
    border: 1px solid darkcyan;
    background-color: white;
    color: black;
    font-size: medium;
    height: 100%;
    padding-left: 5%;
}

.container {
    display: flex;
}
