.icon {
    color: lightcoral;
}

.button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    height: 30px;
    margin-right: 10px;
}

.input {
    border-radius: 5px;
    border: 1px solid darkcyan;
    background-color: white;
    color: black;
    font-size: medium;
    height: 30px;
    padding-left: 10px;
}

.container {
    display: flex;
    align-items: center;
}
