.form {
    border-radius: 2em;
    padding: 5%;
    background-color: rgba(255, 255, 255, 0.025);
    border: 1px solid var(--outline-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.formField {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formInput {
    font-size: large;
    min-width: 20em;
    border-bottom: 1px solid var(--outline-color);
}

.formFieldError {
    min-height: 2em;
    color: var(--error-color);
    font-size: small;
}

.formButton {
    padding-left: 1em;
    padding-right: 1em;
    font-size: large;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}
